{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<h3 style="margin-bottom: 25px;">Introducción Prueba Competitiva</h3>

<p>
    Esta prueba consta de <strong>10 rondas</strong>. En cada una, se mostrará una secuencia compuesta por <strong>8 letras mayúsculas aleatorias</strong>.
</p>

<p>
    Antes de cada secuencia, verás una cuenta atrás de 3 segundos para prepararte. La secuencia aparecerá en pantalla durante <strong>4 segundos</strong> y luego desaparecerá. A continuación, deberás responder a la siguiente pregunta:
</p>

<p style="margin-left: 1em;"><em>"¿Qué letra estaba en la posición X de la secuencia?"</em></p>

<p>
    Tendrás un máximo de <strong>20 segundos </strong>para responder a cada pregunta. 
</p>

<p>
    Cada acierto sumará <strong>1 punto</strong>. No hay penalización por error.
</p>

<p>
    Antes te enseñaremos un par de ejemplos para familiarizarte con el formato de la prueba.
</p>

<p>
    Pulsa <em>Siguiente</em> para ver los ejemplos.
</p>

<form method="post">
    <button type="submit">Siguiente</button>
</form>
{% endblock %}



