{% extends "global/Page.html" %}
{% load otree %}



{% block content %}
<h3 style="margin-bottom: 25px;">Introducción Tarea Competitiva</h3>


<p>
    En esta tarea se te presentarán <strong>10 secuencias de letras</strong>. Cada secuencia estará compuesta por <strong> 8 letras mayúsculas aleatorias</strong>.
</p>

<p>
    Cada secuencia se mostrará en pantalla durante <strong>4 segundos</strong>. Después desaparecerá, y deberás responder a la siguiente pregunta:
</p>

<p style="margin-left: 1em;"><em>"¿Qué letra estaba en la posición X de la secuencia?"</em></p>

<p>
    Tendrás un máximo de <strong>20 segundos </strong>para responder a cada pregunta. 
</p>

<p>
    Cada acierto sumará <strong>1 punto</strong>. No se restarán puntos si te equivocas o no contestas.
</p>

<p>
    Antes de comenzar, verás <strong>dos ejemplos</strong> para familiarizarte con el formato de la tarea.
</p>

<p>
    Pulsa <em>Siguiente</em> para ver los ejemplos.
</p>

<form method="post">
    <button type="submit">Siguiente</button>
</form>
{% endblock %}