{% extends "global/Page.html" %}
{% load otree %}

{% block content %}

<p>
    Una vez visto los ejemplos, ya estás preparado/a para realizar la prueba. 
</p>

<p>
    Te recordamos que en cada ronda se te mostrará una secuencia de <strong>8 letras </strong> durante <strong>4 segundos</strong>.
</p>

<p>
    Una vez desaparezca, tendrás <strong>20 segundos</strong> para responder que letra estaba en una posición concreta.
</p>

<p>
    Tu solución puede estar tanto en mayúscula como en minúscula. Cada acierto suma 1 punto y no hay penalización por error.
</p>
<p>
    Cuando estés listo/a, pulsa <em>Siguiente</em> para comenzar. 
</p>

<form method="post">
    <button type="submit">Siguiente</button>
</form>
{% endblock %}


