{% block content %}

<h3 style="margin-bottom: 25px;">Pago final</h3>

<p>Pago total en euros: <strong>{{ total_payment_euros }}€</strong></p>

<ul>
    <li>Parte fija por participar: <strong>{{ fixed_part }}€</strong></li>
    <li>Parte variable según tu rendimiento: <strong>{{ final_payment }} × 0,5€ = {{ variable_part }}€</strong></li>
</ul>

<p>Por favor, espera con paciencia hasta que te llamemos. Mientras tanto, se te pedirá que rellenes un breve cuestionario.</p>

<p>Te llamaremos en orden según el código de identificación introducido al inicio.</p>

<p>Todo el dinero indicado como "Pago total" se entregará de forma privada, dentro de un sobre marcado con tu código de identificación, para garantizar la confidencialidad.</p>

<p>Haz clic en “Siguiente” para continuar.</p>

{{ formfields }}
<form method="post">
    <button type="submit">Siguiente</button>
</form>

{% endblock %}