{% block content %}
    <h3 style="margin-bottom: 25px;">Segunda fase</h3>

    <p>En esta parte del experimento se asignarán dos roles: <strong>proponente</strong> y <strong>receptor</strong>.</p>

    <p>El rol de proponente será otorgado al 50% de los participantes con mejor rendimiento en la prueba competitiva, mientras que el 50% restante asumirá el rol de receptor.</p>

    <p>Una vez asignados los roles, se formarán parejas de manera <strong>aleatoria</strong>, emparejando a cada proponente con un receptor.</p>

    <p>El proponente deberá <strong>realizar una oferta</strong> sobre cómo repartir <strong>{{ C.ENDOWMENT }} puntos experimentales</strong> con el receptor.</p>

    <p>El receptor podrá <strong>aceptar o rechazar</strong> dicha oferta. Si la acepta, ambos recibirán los puntos <strong>según la propuesta</strong>. Si la rechaza, <strong>ambos recibirán 0 puntos</strong>.</p>

    <p>Todas las decisiones serán completamente <strong>anónimas</strong>, tanto entre los participantes como frente al equipo investigador.</p>

    {{ formfields }}
    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}

