{% block content %}
    <h3 style="margin-bottom: 25px;"> Segunda fase</h3>

    <p>En esta parte del experimento se asignarán dos roles: <strong>asignador</strong> y <strong>receptor</strong>.</p> 

    <p>En este caso:</p>
    <ul>
        <li>Los <strong>hombres</strong> desempeñarán el rol de <strong>asignador</strong>.</li>
        <li>Las <strong>mujeres</strong> desempeñarán el rol de <strong>receptor</strong>.</li>
    </ul>

    <p>Una vez asignados los roles, se formarán parejas de manera <strong>aleatoria</strong>, emparejando a cada asignador con un receptor.</p>

    <p>El asignador decidirá cómo repartir <strong>{{ C.ENDOWMENT }} puntos experimentales</strong> con el receptor.</p>

    <p>El pago final dependerá de la decisión del asignador, que se quedará con los puntos que no reparta, mientras que el receptor obtendrá los que le haya enviado.</p>

    <p>Todas las decisiones serán completamente <strong>anónimas</strong>, tanto entre los participantes como frente al equipo investigador.</p>

    {{ formfields }}
    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}
