

{% block content %}
    <h3 style="margin-bottom: 25px;">Asignación de Rol </h3>
    {% if assigned_role == 'allocator' %}
        <p>Como participante identificado como hombre, desempeñarás el rol de <strong>asignador</strong>.</p>
    {% elif assigned_role == 'receiver' %}
        <p>Como participante identificada como mujer, desempeñarás el rol de <strong>receptor</strong>.</p>
    {% endif %}

    <p style="margin-top: 25px;">Haz clic en "Siguiente" para continuar.</p>


    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}

