{% block content %}
    <h3 style="margin-bottom: 25px;"> Resultados Prueba Competitiva</h3>

    <p>En esta prueba, todos los participantes tuvisteis las mismas secuencias, pero la mitad de los participantes tuvo <strong>8 minutos</strong> y la otra mitad <strong>10 minutos</strong>.</p>
    
    <p>El tiempo que tuviste para realizar la prueba se asignó de manera aleatoria cuando recogiste el papel que indicaba en qué sala estarías.</p>

    <p>En tu caso, tuviste <strong>{{ my_time }} minutos</strong>.</p>

    <p>Tu rendimiento en la prueba dependió de tu esfuerzo durante el tiempo que tuviste para realizarla.</p>
    <p>Esta puntuación fue utilizada para elaborar un ranking entre todos los participantes.</p>

    {% if assigned_role == 'proposer' %}
        <p>En tu caso, estás dentro del 50% con mejor rendimiento en la prueba competitiva.</p>
    {% elif assigned_role == 'receiver' %}
        <p>En tu caso, no estás dentro del 50% con mejor rendimiento en la prueba competitiva.</p>
    {% endif %}

    {{ formfields }}
    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}
   
