{% block content %}
    <h3 style="margin-bottom: 25px;">Asignación de Rol</h3>

    {% if assigned_role == 'proposer' %}
        <p>Estás dentro del 50% con mejor rendimiento en la prueba</p>
        <p>Se te ha asignado el rol de <strong>proponente</strong>.</p>
    {% elif assigned_role == 'receiver' %}
        <p>No estás dentro del 50% con mejor rendimiento en la prueba</p>
        <p>Se te ha asignado el rol de <strong>receptor</strong>.</p>
    {% endif %}

    <p>Has tenido <strong>{{ my_time }}</strong> minutos para realizar la prueba.</p>
    <p>Tu pareja tuvo <strong>{{ other_time }}</strong> minutos.</p>
    <p>Tu pareja también recibió la información sobre los tiempos. </p>

    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}


