
{% block content %}
    <h3 style="margin-bottom: 25px;">Asignación de Rol </h3>
    {% if assigned_role == 'allocator' %}
        <p>Estás dentro del 50% con mejor rendimiento en la tarea competitiva</p>
        <p>Se te ha asignado el rol de <strong>asignador</strong>.</p>
    {% elif assigned_role == 'receiver' %}
        <p>No estás dentro del 50% con mejor rendimiento en la tarea competitiva</p>
        <p>Se te ha asignado el rol de <strong>receptor</strong>.</p>
    {% endif %}

    {{ formfields }}
    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}


