{% block content %}
    <h3 style="margin-bottom: 25px;">Segunda fase</h3>

    <p>En esta parte del experimento se asignarán dos roles: <strong>proponente</strong> y <strong>receptor</strong>.</p>

    <p>En este caso:</p>
    <ul>
        <li>Los <strong>hombres</strong> desempeñarán el rol de <strong>proponentes</strong>.</li>
        <li>Las <strong>mujeres</strong> desempeñarán el rol de <strong>receptores</strong>.</li>
    </ul>

    <p>Una vez asignados los roles, se formarán parejas de manera <strong>aleatoria</strong>, emparejando a cada proponente con un receptor.</p>

    <p>El proponente decidirá cómo repartir <strong>{{ C.ENDOWMENT }} puntos experimentales</strong> con el receptor.</p>

    <p>El receptor podrá <strong>aceptar o rechazar</strong> la oferta. Si acepta, se aplicará la distribución propuesta. 
    Si rechaza, <strong>ambos recibirán 0 puntos</strong>.</p>

    <p>Todas las decisiones serán completamente <strong>anónimas</strong>, tanto entre los participantes como frente al equipo investigador.</p>

    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}
