{% block content %}
    <h3 style="margin-bottom: 25px;">Decisión</h3>

    <p>Dispones de {{ C.ENDOWMENT }} puntos experimentales.</p>
    <p>Debes decidir cuántos puntos deseas ofrecer a la otra persona. Si acepta la oferta, te quedarás con los puntos que hayas decidido <strong>no</strong> ofrecer. Si la rechaza, ambos recibiréis 0 puntos.</p>
    <p>Recuerda que 1 punto experimental equivale a 0,5 €.</p>

    {{ formfields }}

    <form method="post">
        <button type="submit">Confirmar</button>
    </form>
{% endblock %}


