{% block content %}
    <h3 style="margin-bottom: 25px;">Resultados Tarea Competitiva</h3>

    <p>Calculamos los resultados de todos los participantes de la sala y elaboramos un ranking en consecuencia.</p>
    
    {% if assigned_role == 'proposer' %}
        <p>Estás dentro del 50% con mejor rendimiento en la tarea competitiva</p>
    {% elif assigned_role == 'receiver' %}
        <p>No estás dentro del 50% con mejor rendimiento en la tarea competitiva</p>
    {% endif %}

    {{ formfields }}
    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}




