{% block content %}
    <h3 style="margin-bottom: 25px;">Resultados Prueba Competitiva</h3>

    <p>Tu rendimiento en la prueba dependió de tu habilidad memorística innata.</p>
    <p>Esta puntuación fue utilizada para elaborar un ranking entre todos los participantes.</p>

    {% if assigned_role == 'proposer' %}
        <p>En tu caso, estás dentro del 50% con mejor rendimiento en la tarea competitiva.</p>
    {% elif assigned_role == 'receiver' %}
        <p>En tu caso, no estás dentro del 50% con mejor rendimiento en la tarea competitiva.</p>
    {% endif %}

    {{ formfields }}
    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}




