{% block content %}
    <h3 style="margin-bottom: 25px;">Asignación de Rol</h3>

    {% if assigned_role == 'proposer' %}
        <p>Estás dentro del 50% con mejor rendimiento en la prueba </p>
        <p>Por lo tanto, se te ha asignado el rol de <strong>proponente</strong>.</p>
    {% elif assigned_role == 'receiver' %}
        <p>No estás dentro del 50% con mejor rendimiento en la prueba</p>
        <p>Por lo tanto, se te ha asignado el rol de <strong>receptor</strong>.</p>
    {% endif %}


    <form method="post">
        <button type="submit">Siguiente</button>
    </form>
{% endblock %}
